


<!DOCTYPE html>
<html>
<head>
    <title>海云舟api控制中心 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Custom Theme files -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/snow.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div class="snow-container">
    <div class="snow foreground"></div>
    <div class="snow foreground layered"></div>
    <div class="snow middleground"></div>
    <div class="snow middleground layered"></div>
    <div class="snow background"></div>
    <div class="snow background layered"></div>
</div>

<div class="top-buttons-agileinfo">

</div>
<h1>海云舟API控制中心</h1>
<div class="main-agileits">
    <!--form-stars-here-->
    <div class="form-w3-agile">
        <h2 class="sub-agileits-w3layouts">登录系统</h2>
        <form action="/admin/admin/login" method="post">
            <input type="text" name="Username" placeholder="Username" required="" />
            <input type="password" name="password" placeholder="Password" required="" />
            <a href="#" class="forgot-w3layouts"></a>
            <div class="submit-w3l">
                <input type="submit" value="登录">
            </div>
        </form>
    </div>
</div>

<!-- //copyright -->
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>


</body>

</html>