<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/cwap_base.css">
    <link rel="stylesheet" href="css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="css/cwap_main.css">
    <link rel="stylesheet" type="text/css" href="css/cwap_public.css">
    <link rel="stylesheet" type="text/css" href="css/cwap_goods_details.css">
</head>
<body>
<div class="runbo">
    <a class="guanbi" href="javascript:history.go(-1)"><img src="./images/guanbi2_03.png" alt=""></a>
    <!--<a class="fenxiang" href=""><img src="./images/fengxiang_03.png" alt=""></a>-->
    <div id="pic">
        <div class="swiper-container">
            <div class="swiper-wrapper">

            </div>
            <!-- 如果需要分页器 -->
            <!--<div class="swiper-pagination"></div>-->
        </div>
    </div>
    <!--<div id="circle">
        <ul>

        </ul>
    </div>-->
</div>
<div class="goods_detail_info">

</div>

<div class="bottom">
    <!--<div class="money"><a href="javascript:;"><img src="./images/cart8.png" alt=""><span>4</span></a><em class="num">&yen;200</em><del>&yen;300</del></div>-->
    <!--<a href="javascript:;">去结算</a>-->
</div>
<div id="alert">
    <dl>
        <dt>
            <p>拨打电话</p>
            <p><a href="tel:13800000000"></a></p>
        </dt>
        <dd>取消</dd>
    </dl>
</div>
<div id="wrapper" class="cart_box">

</div>

<!--商品详情-->
<!--购物车-->
<!--商铺详情购物车-->
<script type="text/html" id="store_cart">
    <div class="money">
        <% if(cart_info.list.length){ %>
        <a href="javascript:;"><img class="haslist" src="./images/cart8.png" alt="">
            <span class="cart_num"><%=cart_info.list.length%></span>
        </a>
        <em class="num">¥<%=cart_info.all_money%></em>
        <!--<del>¥300</del>-->
        <%}else{%>
        <a href="javascript:;"><img src="./images/cartBlack@2x.png" alt="">
        </a>
        <span class="empty">购物车是空的</span>
        <%}%>
    </div>

    <%if(cart_info.error==1){%>
    <a href="javascript:;" class="disable">休息中</a>
    <%}else if(cart_info.all_money==0){%>
    <a href="javascript:;" class="disable">￥<%=dian_info.ldj_delivery_order_Price%>起送</a>
    <%}else if(cart_info.all_money>=dian_info.ldj_delivery_order_Price){%>
    <a href="javascript:;" class="go_pay">去结算</a>
    <%}else{
    var diff = dian_info.ldj_delivery_order_Price-cart_info.all_money;
    %>
    <a href="javascript:;" class="disable">差<%=diff%>元起送</a>
    <%}%>
</script>

<!--购物车列表-->
<script type="text/html" id="store_cart_list">
    <div class="cartAlert">
        <div class="cart_img"><p><span><%=cart_info.list.length%></span></p></div>
        <h1>
            <span id="allSelect" class="actived"><em class="check"></em><b>全选 </b> <span>(已选<%=cart_info.list.length%>件)</span></span>
            <button class="clear_cart">清空购物车</button>
        </h1>
        <ul class="hasData">
            <% for(var i=0;i<cart_info.list.length ;i++){
                                                   var item=cart_info.list[i];
                                                   var gclass='gid' +cart_info.list[i].gid
                                                   if(item.error==0){
                                                   %>
            <li class="goods_list_item actived" data-cartid="<%=item.cart_id%>" data-gid="<%=item.gid%>">
                <em class="check"></em>
                <div class="gods">
                    <div class="shop_img">
                        <img src="<%=item.goods_image%>" alt="">
                    </div>
                    <div class="cart_goods_title">
                        <h1>
                            <%=item.goods_name%>
                        </h1>
                        <p>&yen;<%=item.goods_price%></p>
                    </div>
                </div>
                <div class="count">
                    <em class="reduce" data-id="<%=item.gid%>" data-vid="<%=item.vid%>"><b></b></em>
                    <ins class="<%=gclass%>"><%=item.goods_num%></ins>
                    <div class="add" data-id="<%=item.gid%>" data-vid="<%=item.vid%>"><img src="./images/add@2x.png" alt=""></div>
                </div>
            </li>
            <%}%>
            <%}%>
        </ul>

        <div class="shixiao_gods">
            <h1>
                <span id="failureSelect">失效商品</span>
                <button>清空购物车</button>
            </h1>
            <ul>
                <%for(var j=0;j<cart_info.list.length ;j++){
                                                      var item2=cart_info.list[j];
                                                      if(item2.error!=0){
                                                      %>
                <li data-cartid="<%=item2.cart_id%>">
                    <em class="failur"></em>
                    <div class="gods">
                        <div class="shop_img">
                            <img src="<%=item2.goods_image%>" alt="">
                            <em class="rest rest_show">
                                <b><%=item2.errorinfo%></b>
                            </em>
                        </div>
                        <div class="cart_goods_title">
                            <h1>
                                <%=item2.goods_name%>
                            </h1>
                            <p>&yen;<%=item2.goods_price%></p>
                        </div>
                    </div>
                    <div class="count dis">
                        <em><b></b></em>
                        <ins><%=item2.goods_num%></ins>
                        <span class="disable_add"><img src="./images/dis_add@2x.png" alt=""></span>
                    </div>
                </li>
                <%}%>
                <%}%>
            </ul>
        </div>
        <div class="bottomCArt">
            <p>&yen; <%=cart_info.all_money%>
                <!--<del> &yen;300</del>-->
            </p>
            <%if(cart_info.error==1){%>
            <a href="javascript:;" class="disable">休息中</a>
            <%}else if(cart_info.all_money==0){%>
            <a href="javascript:;" class="disable">￥<%=dian_info.ldj_delivery_order_Price%>起送</a>
            <%}else if(cart_info.all_money>=dian_info.ldj_delivery_order_Price){%>
            <a href="javascript:;" class="go_pay">去结算</a>
            <%}else{
            var diff = dian_info.ldj_delivery_order_Price-cart_info.all_money;
            %>
            <a href="javascript:;" class="disable">差<%=diff%>元起送</a>
            <%}%>
            <!--   <a href="javascript:;" class="go_pay">去结算</a>-->
        </div>
    </div>
</script>

</body>
<script type="text/javascript" src="js/cwap_config.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/cwap_common.js"></script>
<script src="js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="./js/goods_details.js"></script>
<script type="text/javascript">
    //   ----------------------客服电话弹窗-----------
    $("body").on('click', '.tel', function () {
        $("#alert").css({"display": "block"})
    });
    $("#alert dl dd").click(function () {
        $("#alert").css({"display": "none"})
    });

    //--------------------添加购物车----------------------------------

    var val = $(".yunsuan ins").text();
    $(".addCart").click(function () {
        $(".yunsuan").css("display", "flex");
        $(this).css("display", "none");
        $(".bottom>a").css("background", "#5EB319");
        $(".money a span").css("display", "flex");
    });


    $(".bottom>a").css("background", "#848484");
    if (val > 0) {
        $(".bottom>a").css("background", "#5EB319");
        $(".addCart").css("display", "none");
        $(".yunsuan").css("display", "flex");
    }
    $(".yunsuan b").click(function () {
        val -= 1;
        if (val >= 1) {
            $(".yunsuan ins").text(val);
            $(".money a span").css("display", "flex");
            $(".money a span").text(val);
            $(".bottom>a").css("background", "#5EB319");
        } else {
            $(".yunsuan").css("display", "none");
            $(".addCart").css("display", "flex");
            $(".yunsuan ins").text(1);
            $(".money a span").css("display", "none");
            $(".bottom>a").css("background", "#848484");
        }

    });

    $(".yunsuan em").click(function () {
        val += 1;
        if (val >= 1) {
            $(".yunsuan ins").text(val);
            $(".money a span").css("display", "flex");
            $(".money a span").text(val);
            $(".bottom>a").css("background", "#5EB319");
        }
    })

    $("body").on('click', '.money img.haslist', function () {
        $(".cart_box").css("display", "block");
    })

    $(".cart_box").click(function (e) {
        if (e.target.id == 'wrapper') {
            $(".cart_box").css("display", "none");
        }
    })
</script>
</html>
