<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="./css/cwap_base.css">
    <link rel="stylesheet" type="text/css" href="./css/cwap_main.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/cwap_child.css">
    <link rel="stylesheet" type="text/css" href="./css/cwap_cart.css">
    <link rel="stylesheet" type="text/css" href="./css/cwap_the_order_details.css">
    <link rel="stylesheet" type="text/css" href="./css/GeneralCSS.css">
    <style>
        .bbctouch-inp-con ul li .input-box .txt{font-size: 0.6rem;}
        .input-box label{font-size: 0.6rem!important;color: #262629!important;}
        #areaSelected .bbctouch-main-layout{
            display: block;
            background-color: #f5f5f5;
            min-width: 320px;
            max-width: 640px;
            overflow-y: scroll;
            overflow-x: hidden;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .bbctouch-main-layout-a{
            display: block;
            position: absolute;
            top: 1.95rem;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
        .bbctouch-default-list li h4{
            font-size: 0.55rem;
        }
        .bbctouch-inp-con ul li .input-box {
            height: 2.12rem;
            margin: 0 0.5rem 0 4rem;
        }
        .bbctouch-default-list{
            border-bottom:none!important;
        }
    </style>
</head>
<body>
<header>
    <div class="header">
        <a href="#" class="jiantou"></a>
        订单详情
    </div>
</header>
<div id="container-fcode" class="hide">
    <div class="fcode-bg">
        <div class="con">
            <h3>您正在购买“F码”商品</h3>
            <h5>请输入所知的F码序列号并提交验证<br/>
                系统效验后可继续完成下单</h5>
            <input type="text" name="fcode" id="fcode" placeholder="" />
            <p class="fcode_error_tip" style="display:none;color:red;"></p>
            <a href="javascript:void(0);" class="submit">提交验证</a> </div>
    </div>
</div>
<div class="bbctouch-main-layout" style="margin-bottom: 2rem">
    <div class="convert">
        <img src="images/dai56.png" alt=".">
        <h1>待兑换</h1>
        <p>您的订单已提交，请在 23：24：56 内支付完成，
            超时订单自动取消 ...</p>
    </div>
    <div class="bbctouch-cart-block">
        <!--正在使用的默认地址Begin-->
        <div class="bbctouch-cart-add-default"><a href="javascript:;" >
            <!--<i class="icon-add"></i>-->
            <dl>
                <dt><span id="true_name"></span><span id="mob_phone"></span></dt>
                <dd><span id="address"></span></dd>
            </dl>
            <!--<i class="icon-arrow"></i>-->
        </a>
        </div>
        <!--正在使用的默认地址End-->
    </div>
    <!--选择收货地址Begin-->
    <div id="list-address-wrapper" class="bbctouch-full-mask hide">
        <div class="bbctouch-full-mask-bg"></div>
        <div class="bbctouch-full-mask-block">
            <div class="header" style="display: none">
                <div class="header-wrap">
                    <div class="header-l"> <a href="javascript:void(0);"> <i class="back"></i> </a> </div>
                    <div class="header-title">
                        <h1>收货地址管理</h1>
                    </div>
                </div>
            </div>
            <div class="bbctouch-main-layout" id="list-address-scroll">
                <ul class="bbctouch-cart-add-list" id="list-address-add-list-ul">
                </ul>
                <div id="addresslist" class="mt10"> <a href="javascript:void(0);" class="btn-l" id="new-address-valve">新增收货地址</a> </div>
            </div>
        </div>
    </div>
    <!--选择收货地址End-->
    <!--新增收货地址Begin-->
    <div id="new-address-wrapper" class="bbctouch-full-mask hide">
        <div class="bbctouch-full-mask-bg"></div>
        <div class="bbctouch-full-mask-block">
            <div class="header" style="display: none">
                <div class="header-wrap">
                    <div class="header-l"> <a href="javascript:void(0);"> <i class="back"></i> </a> </div>
                    <div class="header-title">
                        <h1>新增收货地址</h1>
                    </div>
                </div>
            </div>
            <div class="bbctouch-main-layout" id="new-address-scroll">
                <div class="bbctouch-inp-con">
                    <form id="add_address_form">
                        <ul class="form-box">
                            <li class="form-item">
                                <h4>收货人&nbsp;&nbsp;</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="true_name" id="vtrue_name" autocomplete="off" oninput="writeClear($(this));"/>
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item">
                                <h4>联系手机</h4>
                                <div class="input-box">
                                    <input type="tel" class="inp" name="mob_phone" id="vmob_phone" autocomplete="off" oninput="writeClear($(this));"/>
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item">
                                <h4>地区选择</h4>
                                <div class="input-box">
                                    <input unselectable="on" style="outline:none;" name="area_info" type="text"  onfocus="this.blur()" class="inp" id="varea_info" autocomplete="off" onchange="btn_check($('form'));" readonly/>
                                </div>
                            </li>
                            <li class="form-item">
                                <h4>详细地址</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="vaddress" id="vaddress" autocomplete="off" oninput="writeClear($(this));"/>
                                    <span class="input-del"></span> </div>
                            </li>
                        </ul>
                        <div class="error-tips"></div>
                        <div class="form-btn"><a href="javascript:void(0);" class="btn">保存地址</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--新增收货地址End-->


    <!--选择付款方式Begin-->
    <div id="select-payment-wrapper" class="bbctouch-full-mask hide">
        <div class="bbctouch-full-mask-bg"></div>
        <div class="bbctouch-full-mask-block">
            <div class="header">
                <div class="header-wrap">
                    <div class="header-l"> <a href="javascript:void(0);"> <i class="back"></i> </a> </div>
                    <div class="header-title">
                        <h1>选择支付方式</h1>
                    </div>
                </div>
            </div>
            <div class="bbctouch-main-layout">
                <div class="bbctouch-sel-box">
                    <h4 class="tit">支付方式</h4>
                    <div class="sel-con"> <a href="javascript:void(0);" class="sel" id="payment-online">在线支付</a> <a href="javascript:void(0);" style="display:none;" id="payment-offline">货到付款</a></div>
                </div>
            </div>
        </div>
    </div>
    <!--选择付款方式End-->


    <!--管理发票信息Begin-->
    <div id="invoice-wrapper" class="bbctouch-full-mask hide">
        <div class="bbctouch-full-mask-bg"></div>
        <div class="bbctouch-full-mask-block">
            <div class="header" style="display: none;">
                <div class="header-wrap">
                    <div class="header-l"> <a href="javascript:void(0);"> <i class="back"></i> </a> </div>
                    <div class="header-title">
                        <h1>管理发票信息</h1>
                    </div>
                </div>
            </div>
            <div class="bbctouch-main-layout">
                <div class="bbctouch-sel-box">
                    <h4 class="tit">是否开据发票</h4>
                    <div class="sel-con"> <a href="javascript:void(0);" class="sel" id="invoice-noneed">不需要发票</a> <a href="javascript:void(0);" id="invoice-need">需要并填写发票信息</a></div>
                </div>
                <div id="invoice-div" class="">
                    <ul id="invoice-list" class="bbctouch-sel-list">
                    </ul>
                    <div class="bbctouch-inp-con" id="invoice_add" style="display:none">
                        <ul class="form-box">
                            <li class="form-item">
                                <h4>发票类型</h4>
                                <div class="input-box btn-style invoice_type_all">
                                    <label class="checked">
                                        <input type="radio" checked="checked" name="inv_title_select" value="person" id="person" >
                                        个人
                                    </label>
                                    <label>
                                        <input type="radio" name="inv_title_select" value="company" id="company">
                                        单位
                                    </label>

                                </div>
                            </li>
                            <li class="form-item" id="inv-title-li" style="display:none;">
                                <h4>发票抬头</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_title" placeholder="输入单位名称">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item" id="inv-title-shuihao" style="display:none;">
                                <h4>单位税号</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_title_shuihao" placeholder="输入单位税号">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item mingxi">
                                <h4>发票内容</h4>
                                <div class="input-box">
                                    <select id="jmysinv_content" name="inv_content" class="select">
                                    </select>
                                    <i class="arrow-down"></i> </div>
                            </li>
                            <!--增值税发票内容-->
                            <li class="form-item zengzhili" id="inv-zeng-mincheng" style="display:none;">
                                <h4>单位名称</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_mincheng" placeholder="输入单位名称">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-shuihao" style="display:none;">
                                <h4>纳税人识别号</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_shuihao" placeholder="输入纳税人识别号">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-address" style="display:none;">
                                <h4>注册地址</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_address" placeholder="输入注册地址">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-tel" style="display:none;">
                                <h4>注册电话</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_tel" placeholder="输入注册电话">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-bank" style="display:none;">
                                <h4>开户银行</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_bank" placeholder="输入开户银行">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-account" style="display:none;">
                                <h4>银行账户</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_account" placeholder="输入银行账户">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-con" style="display:none;">
                                <h4>发票内容</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_con" readonly placeholder="明细">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-shouname" style="display:none;">
                                <h4>收票人姓名</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_shouname" placeholder="输入收票人姓名">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-shoutel" style="display:none;">
                                <h4>收票人手机号</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_shoutel" placeholder="输入收票人手机号">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item zengzhili" id="inv-zeng-shouaddress" style="display:none;">
                                <h4>送票地址</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="inv_zeng_shouaddress" placeholder="输入送票地址">
                                    <span class="input-del"></span> </div>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:void(0);" class="btn-l mt10">确定</a> </div>
            </div>
        </div>
    </div>
    <!--管理发票信息End-->

    <!--管理优惠券Begin-->
    <div id="red-wrapper" class="bbctouch-full-mask hide">
        <div class="bbctouch-full-mask-bg"></div>
        <div class="bbctouch-full-mask-block">
            <div class="header" style="display: none">
                <div class="header-wrap">
                    <div class="header-l"> <a href="javascript:void(0);"> <i class="back"></i> </a> </div>
                    <div class="header-title">
                        <h1>使用优惠券</h1>
                    </div>
                </div>
            </div>
            <div class="bbctouch-main-layout">
                <div class="bbctouch-sel-box">
                    <input type="radio" checked name="red_id" value="0" id="red_id_null" /><label class="big_row_radio" for="red_id_null">暂不使用优惠券</label>
                </div>
                <div class="bbctouch-red-list" id="red_main">
                </div>
                <div class="pickup-bomb-btn"><a href="javascript:void(0)" >确定</a></div>
            </div>
        </div>
    </div>
    <!--管理优惠券End-->

    <!--商品列表Begin-->
    <div id="goodslist_before" class="mt039">
        <div id="deposit"> </div>
    </div>
    <!--红包使用Begin-->
    <div id="rptVessel" class="bbctouch-cart-block mt039">
        <div class="input-box">
            <label>
                <input type="checkbox" class="checkbox" id="useRPT"/>
                平台红包 <span class="power"><i></i></span> </label>
            <p id="rptInfo"></p>
        </div>
    </div>
    <!--红包使用End-->

    <!--店铺优惠券开始-->
    <div id="product_detail_red_html" class="bbctouch-bottom-mask">
        <div class="bbctouch-bottom-mask-bg "></div>
        <div class="bbctouch-bottom-mask-block ">
            <div class="bbctouch-bottom-mask-top goods-tags-intro-top">
                使用店铺优惠券
            </div>
            <div class="bbctouch-bottom-mask-rolling" id="product_red_roll" style="height: 12rem; overflow: hidden;">
                <div class="goods-red-intro-list">
                    <div class="bbctouch-red-list">
                        <ul class="bbctouch-tickets" id="vred-list" style="min-height: auto; padding-bottom: 1rem;">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--店铺优惠券结束-->

    <div class="error-tips mt10"></div>
    <!--底部总金额固定层Begin-->
    <div class="bbctouch-cart-bottom">
        <div class="total"><span id="online-total-wrapper"></span>
            <dl class="total-money">
                <dt class="yinfu">应付:<span class="num">40000</span><em>积分</em></dt>
                <dd><em id="cancel">取消订单</em></dd>
            </dl>
        </div>
        <div class="check-out"><a href="javascript:void(0);" id="ToBuyStep2">去付款</a></div>
    </div>
    <!--底部总金额固定层End-->
    <div class="bbctouch-bottom-mask">
        <div class="bbctouch-bottom-mask-bg"></div>
        <div class="bbctouch-bottom-mask-block">
            <div class="bbctouch-bottom-mask-tip"><i></i>点击此处返回</div>
            <div class="bbctouch-bottom-mask-top">
                <p class="bbctouch-cart-num">本次交易需在线支付<em id="onlineTotal">0.00</em>元</p>
                <p style="display:none" id="isPayed"></p>
                <a href="javascript:void(0);" class="bbctouch-bottom-mask-close"><i></i></a> </div>
            <div class="bbctouch-inp-con bbctouch-inp-cart">
                <ul class="form-box" id="internalPay">
                    <p class="rpt_error_tip" style="display:none;color:red;"></p>
                    <li class="form-item" id="wrapperUsePDpy">
                        <div class="input-box pl5">
                            <label>
                                <input type="checkbox" class="checkbox" id="usePDpy" autocomplete="off" />
                                使用预存款支付 <span class="power"><i></i></span> </label>
                            <!--<p>可用余额 ￥<em id="availablePredeposit"></em></p>-->
                        </div>
                    </li>
                    <li class="form-item" id="wrapperPaymentPassword" style="display:none">
                        <div class="input-box"> <span class="txt">输入支付密码</span>
                            <input type="password" class="inp" id="paymentPassword" autocomplete="off" />
                            <span class="input-del"></span> </div>
                    </li>
                </ul>
                <div class="bbctouch-pay">
                    <div class="spacing-div"><span>在线支付方式</span></div>
                    <div class="pay-sel">
                        <label style="display:none;">
                            <input type="radio" name="payment_code" class="checkbox" id="alipay" autocomplete="off" />
                            <span class="alipay" >支付宝</span><input id="alipay" type="checkbox" style="margin-left: 10px;"></label>
                        <label style="display:none">
                            <input type="radio" name="payment_code" class="checkbox" id="wxpay_jsapi" autocomplete="off" />
                            <span class="wxpay">微信</span><input id="wxpay_jsapi" type="checkbox" style="margin-left: 10px;"></label>
                    </div>
                </div>
                <div class="pay-btn"> <a href="javascript:void(0);" id="toPay" class="btn-l">确认支付</a> </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="goods_list">
    <% for (var k in store_cart_list) { %>
    <div class="bbctouch-cart-container">
        <ul class="bbctouch-cart-item">
            <% for (var l in store_cart_list[k].goods_list) { var v1 = store_cart_list[k].goods_list[l]%>
            <li class="buy-item" data-gid="<%=v1.gid%>" data-stock="<%=v1.goods_num%>">
                <div class="goods-pic">
                    <a onclick="goGoodsDetail('goGoodsDetail','<%=v1.gid%>')" href="javascript:void(0)">
                        <img src="<%=v1.goods_image_url%>"/>
                    </a>
                </div>
                <dl class="goods-info">
                    <dt class="goods-name"><a onclick="goGoodsDetail('goGoodsDetail','<%=v1.gid%>')" href="javascript:void(0)" ><%=v1.goods_name%></a></dt>
                    <dd class="goods-type order-goods-type"><%=v1.goods_spec%></dd>
                </dl>
                <div class="goods-subtotal">
                    <span class="goods-price"><em><%=v1.show_price%></em>积分</span>
                </div>
                <div class="goods-num">
                    x<em><%=v1.goods_num%></em>
                </div>
                <% if (v1.gift_list) { %>
                <%for(var m in v1.gift_list){ var v2 = v1.gift_list[m];%>
                <div class="goods-gift">
                    <span><em>赠品</em><%=v2.gift_goodsname%></span>
                </div>
                <%}%>
                <%}%>
                <div class="notransport transportId<%=v1.transport_id%>" style="display:none;"><p>该商品不支持配送</p></div>
            </li>
            <% } %>
        </ul>

        <div class="bbctouch-cart-subtotal">
            <%if(store_cart_list[k].red){%>
            <dl class="dl_red vid_<%=k%>">
                <dt>店铺优惠券</dt>
                <dd>点击选择</dd>
            </dl>
            <div class="vred_<%=k%>" style="display: none;">
                <%for(var o in store_cart_list[k].red){ var v2 = store_cart_list[k].red[o];%>
                <li class="ticket-item">
                    <%if(v2.have>=v2.red_rach_max){%>
                    <a class="a" href="cwap_product_list.html">
                        <%}else{%>
                        <a class="a weiling" href="javascript:void(0)" data-id="<%=v2.id%>">
                            <%}%>
                            <div>
                                <%if(v2.red_type==2){%><s></s><%}%>
                                <h1><em><%= v2.redinfo_money %></em> 元</h1>
                                <h6 class="a1">您已领券</h6>
                                <h6 class="a2">点击使用</h6>

                                <h2><em><%if(!v2.redinfo_full || v2.redinfo_money>=v2.redinfo_full){%>无门槛优惠券<%}else{%>满<%=v2.redinfo_full%>减<%=v2.redinfo_money%><%}%></em><%= v2.redinfo_start_text %>-<%= v2.redinfo_end_text %></h2>
                            </div>
                        </a>
                        <p><%=v2.str%></p>
                </li>
                <%}%>
            </div>
            <% } %>

            <div class="message">
                <p class="heji"><span>商品合计</span><span>40000积分</span></p>
                <p class="yunfei"><span>运费</span><span>免运费</span></p>
            </div>
            <div class="store-total">
                合计应付:<span><em id="storeTotal<%=k%>" ><%=store_cart_list[k].store_goods_total%></em></span>积分
            </div>
        </div>
        <% } %>
</script>
<script type="text/html" id="dian_tpl">
    <% var dian_data = datas.data; %>
    <div class="bomb-box pickup-bomb-box logistics-choosen-<%=datas.data[0].vid%> pickup-bomb-hide">
        <div class="box-title">自提门店<b class="close"></b></div>
        <!--<div class="box-oprate"></div>-->
        <div class="content-info">
            <form class="">
                <ul class="logistics-store-list-1 logistics-store-list">
                    <%for(var m in dian_data){ var vv = dian_data[m];%>
                    <li class="logistics-item" data-lat="<%=vv.dian_lat%>" data-lng="<%=vv.dian_lng%>">
                        <label class="wq">
                            <input class="logistics-radio" type="radio" name="logistics" data-shop_id="<%=vv.vid%>" data-id="1" data-pickup_name="<%=vv.dian_name%>" data-pickup_id="<%=vv.id%>">
                            <div class="logistics-inner" data-id="1">
                                <p class="logistics-name"><%=vv.dian_name%></p>
                                <p class="juli"><%=vv.juli%><span><%=vv.danwei=='km'?'千米':'米'%></span></p>
                                <p class="logistics-address"><%=vv.dian_address%></p>
                                <p class="logistics-tel"><%=vv.dian_phone_arr[0]%></p>
                            </div>
                        </label>
                        <span class="i"></span>
                    </li>
                    <%}%>
                    <% if (hasmore) {%>
                    <li class="loading">
                        <div class="spinner"><i></i></div>
                        数据读取中...
                    </li>
                    <% } %>
                </ul>
            </form>
        </div>
    </div>
    <div class="mask-div" style="display: none;"></div>
</script>
<script type="text/html" id="dian_list_tpl">
    <% var dian_data = datas.data; %>
    <%for(var m in dian_data){ var vv = dian_data[m];%>
    <li class="logistics-item" data-lat="<%=vv.dian_lat%>" data-lng="<%=vv.dian_lng%>">
        <label class="wq">
            <input class="logistics-radio" type="radio" name="logistics" data-shop_id="<%=vv.vid%>" data-id="1" data-pickup_name="<%=vv.dian_name%>" data-pickup_id="<%=vv.id%>">
            <div class="logistics-inner" data-id="1">
                <p class="logistics-name"><%=vv.dian_name%></p>
                <p class="juli"><%=vv.juli%><span><%=vv.danwei=='km'?'千米':'米'%></span></p>
                <p class="logistics-address"><%=vv.dian_address%></p>
                <p class="logistics-tel"><%=vv.dian_phone_arr[0]%></p>
            </div>
        </label>
        <span class="i"></span>
    </li>
    <%}%>
    <% if (hasmore) {%>
    <li class="loading">
        <div class="spinner"><i></i></div>
        数据读取中...
    </li>
    <%}%>
    <% if (hasmore) {%>
    <li class="loading">
        <div class="spinner"><i></i></div>
        数据读取中...
    </li>
    <% } %>
</script>

<script type="text/html" id="list-address-add-list-script">
    <% for (var i=0; i<address_list.length; i++) { %>
    <li <% if (address_id == address_list[i].address_id) { %>class="selected"<% } %> data-param="{address_id:'<%=address_list[i].address_id%>',true_name:'<%=address_list[i].true_name%>',mob_phone:'<%=address_list[i].mob_phone%>',area_info:'<%=address_list[i].area_info%>',address:'<%=address_list[i].address%>',area_id:'<%=address_list[i].area_id%>',city_id:'<%=address_list[i].city_id%>'}"> <i></i>
    <dl>
        <dt><span ><%=address_list[i].true_name%></span><span id=""><%=address_list[i].mob_phone%></span><% if (address_list[i].is_default == 1) { %><sub>默认</sub><% } %></dt>
        <dd><span ><%=address_list[i].area_info %>&nbsp;<%=address_list[i].address %></span></dd>
    </dl>
    </li>
    <% } %>
</script>
<script type="text/html" id="invoice-list-script">
    <% if (invoice_list.length > 0) {%>
    <% for (var i=0; i<invoice_list.length; i++) { %>
    <label><i></i>
        <input type="radio" name="invoice" <% if (i==0) {%>checked="checked"<% } %> value="<%=invoice_list[i].inv_id%>"/>
        <span id="inv_<%=invoice_list[i].inv_id%>"><% if(invoice_list[i].inv_state==1){ %>[普票]&nbsp;<%=invoice_list[i].inv_title%>&nbsp;&nbsp;<%=invoice_list[i].inv_content%><% }else{ %>
            [增票]&nbsp;<%=invoice_list[i].inv_company%> <% } %></span>
        <a class="del-invoice" href="javascript:void(0);" inv_id="<%=invoice_list[i].inv_id%>"></a>
    </label>
    <% } %>
    <% } %>
    <% if (invoice_list.length < 10) {%>
    <label id="invoiceNew"><i></i>
        <input type="radio" name="invoice" <% if (invoice_list.length == 0) { %>checked="checked"<% } %> value="0"/><span>新增发票内容</span>
    </label>
    <% } %>
</script>
<!--优惠券模版-->
<script type="text/html" id="red-list-tmpl">
    <ul class="bbctouch-tickets" id="red-list" data-price="0">
        <% if (red) { %>
        <% for (var k in red) { var v = red[k]; %>
        <li class="ticket-item">
            <input type="radio" name="red_id" value="<%=v.id%>" id="red_id_<%=v.id%>">
            <label class="circle_radio a" for="red_id_<%=v.id%>">
                <div>
                    <%if(v.red_type==2){%><s></s><%}%>
                    <h1><em><%= v.redinfo_money %></em> 元</h1>
                    <h2><em><%if(!v.redinfo_full || v.redinfo_money>=v.redinfo_full){%>无门槛优惠券<%}else{%>满<%=v.redinfo_full%>减<%=v.redinfo_money%><%}%></em><%= v.redinfo_start_text %>-<%= v.redinfo_end_text %></h2>
                    <h4></h4>
                </div>
            </label>
            <p><%=v.str%></p>
        </li>
        <% } %>
        <% } else { %>
        <div class="bbctouch-norecord red">
            <img src="../addons/red/data/images/nothave.png" width="50%" />
            <dl>
                <dt>暂无优惠券</dt>
            </dl>
        </div>
    </ul>
    <% } %>
</script>
<script type="text/javascript" src="./js/cwap_config.js"></script>
<script type="text/javascript" src="./js/zepto.min.js"></script>
<script type="text/javascript" src="./js/template.js"></script>
<script type="text/javascript" src="./js/cwap_common.js"></script>
<script type="text/javascript" src="./js/simple-plugin.js"></script>
<script type="text/javascript" src="./js/cwap_order_payment.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=b1d1e551839382e38e9eabe2348aa0db&plugin=AMap.Scale,AMap.ToolBar"></script>
<script type="text/javascript" src="./js/layer.js"></script>
<script type="text/javascript" src="./js/cwap_buy_step1.js"></script>
<script>
    function goGoodsDetail(type,value) {
        var data = {
            type:type,
            value:value,
        };
        window.postMessage(JSON.stringify(data));
    }
</script>
</body>
</html>
