<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>失效金额明细</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/cwap_base.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/cwap_main.css">
    <link rel="stylesheet" type="text/css" href="css/cwap_Frozen_details.css">
</head>
<body>
<div class="headerA">
    <p><a href="cwap_user.html"><em class="radius"></em></a>冻结金额明细</p>
    <h1 class="top_user_amount_num freeze_yongjin">--</h1>
</div>
<div class="list">
    <ul id="order-list">
    </ul>
    <ul id="order-cash-list">
    </ul>
</div>
</body>
<script type="text/javascript">
    var yj_state = 0;
</script>
<script type="text/html" id="order-list-tmpl">
    <% if (datas.order_group_list.length > 0){%>
    <% for(var i = 0;i<datas.order_group_list.length;i++){
    var orderitem = datas.order_group_list[i];
    %>
    <li>
        <span>订单号:<%=orderitem.order_sn%> </span>
        <time><%=orderitem.add_time_str%></time>
        <em>+<%=orderitem.yj_amount%>元</em>
    </li>
    <%}%>
    <% if (hasmore) {%>
    <li class="loading"><div class="spinner"><i></i></div>订单数据读取中...</li>
    <% } %>
    <%}else {%>
    <div class="no-order" style="text-align: center;font-size: 0.5rem;line-height: 0.8rem;padding: 1rem;">
        <p>您还没有相关的订单</p>
    </div>
    <%}%>
</script>
<script type="text/html" id="order-cash-list-tmpl">
    <% if (datas.list.length > 0){%>
    <% for(var i = 0;i<datas.list.length;i++){
    var orderitem = datas.list[i];
    %>
        <%if(orderitem.pdc_payment_state==1){%>
        <li class="settlement">
        <%}else if(orderitem.pdc_payment_state==0){%>
        <li class="freeze">
        <%}else{%>
        <li class="failure">
        <%}%>
        <p>提现</p><time><%=orderitem.pdc_add_time%></time><span>+<%=orderitem.pdc_amount%><em><%=orderitem.pdc_payment_state_desc%></em></span>
        </li>
    <%}%>
    <% if (hasmore) {%>
    <li class="loading"><div class="spinner"><i></i></div>数据读取中...</li>
    <% } %>
    <%}%>
</script>
<script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/cwap_config.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/simple-plugin.js"></script>
<script type="text/javascript" src="js/cwap_common.js"></script>
<script type="text/javascript" src="js/cwap_user_yongjin.js"></script>
<script>
    var oh = $(document).height();
    var ow = $(document).width();
    $(document.body).css({"height":oh,"width":ow});
</script>
</html>
