.header-title h1 {
    color: #fff;
}

.header-r a img {
    height: 0.791rem;
}

/*.header-r a:nth-of-type(1) {
    padding-right: 0;
}*/

.taitou {
    background: #fff;
    padding-top: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-bottom: 1.03rem;
}

.bgcolor {
    position: absolute;
    width: 100%;
    height: 3.91rem;
    background: #5EB319;
    left: 0;
    top: 1.9rem;
    padding-top: 0.4rem;
}

.panel {
    width: 15.4rem;
    height: 3.94rem;
    background: #fff;
    position: relative;
    padding-top: 1.1304rem;
    z-index: 10;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding-bottom: 0.869rem;
}

.panel h1 {
    font-size: 0.782rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: bold;
}

.panel h1 em {
    margin-left: 0.652rem;
    border: 2px solid #666;
    border-top: none;
    border-left: none;
    transform: rotate(-43deg);
}

.radius {
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid #666;
    border-top: none;
    border-left: none;
    transform: rotate(-43deg);
}

/*.button{

}*/
/*.button span{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 2.82rem;
    height: 1.1739rem;
    border:1px solid #999;
    font-size: 0.521rem;
    color: #333;
    border-radius:3px;
}
.button a{
    width: 7.39rem;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 1.1739rem;
    font-size: 0.521rem;
    color: #fff;
    background:#FF3D3D;
    border:1px solid #FF3D3D;
    border-radius:3px;
}*/
.orderList {
    background: #fff;
    font-size: 0.608rem;
    padding: 0 0.521rem 0.5rem;
    color: #333;
}

.orderList ul {
    /*min-height: 3.4rem;*/
    max-height: 6.8rem;
    overflow: hidden;
}

.orderList h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.26rem;
}

.orderList h1 span {
    display: flex;
    align-items: center;
    font-size: 0.608rem;
}

.orderList h1 span img {
    height: 0.608rem;
    margin-right: 6px;
}

.orderList h1 span:last-child {
    font-size: 0.521rem;
    color: #FF9501;
    margin-right: 0.6rem;
    cursor: pointer;
}

.orderList h1 span em {
    margin-left: 0.6rem;
}

.orderList ul li {
    border-bottom: 1px solid #f1f1f1;
}

.orderList ul li:last-child {
    border: none;
}

.orderList ul li a {
    display: flex;
    color: #333;
}

.orderList ul li a dl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
}

.orderList ul li a dl dt {
    position: relative;
    flex: 0 0 2.26rem;
    width: 2.26rem;
    height: 2.26rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 0.5rem;
}

.orderList ul li a dl dt .wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 0.4rem;
    text-align: center;
    line-height: 2.26rem;
}

.orderList ul li a dl dt img {
    max-width: 100%;
    max-height: 100%;
}

.orderList ul li a dl .xq {
    flex: 1;
}

.orderList ul li a dl .xq p {
    line-height: 1.2;
    padding-right: 1rem;
}

.orderList ul li a dl .jinqian {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heji {
    background: #fff;
}

.heji p {
    font-size: 0.565rem;
    padding: 0 0.5rem;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Clickshow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    color: #a4a4a4;
    font-size: 0.521rem;
    cursor: pointer;
}

.Clickshow em.Bottom {
    transform: rotate(43deg) !important;
    margin-left: 0.4rem;
    margin-top: -0.2rem;
}

.zonger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.95rem 0.5rem 0.95rem 0;
    border-top: 1px solid #f1f1f1;
    color: #999;
    font-size: 0.521rem;
    margin-bottom: 0.5rem;
}

.zonger span em {
    color: #FF4949;
}

.zonger span:last-child {
    color: #333;
    font-size: 0.565rem;
    margin-left: 0.656rem;
}

.zonger span:last-child ins {
    font-size: 0.956rem;
    text-decoration: none;
}

.List {
    padding-left: 0.5rem;
    background: #fff;
    color: #333;
    margin-bottom: 0.5rem;
}

.List ul li {
    padding: 0.869rem 0;
    font-size: 0.565rem;
    border-bottom: 1px solid #f1f1f1;
}

.List ul li p {
    /*text-indent: 3rem;*/
    padding-left: 3rem;
    padding-right: 0.3rem;
    line-height: 1.5;
    word-break: break-all;
}

.List ul li span {
    border: 1px solid #03A9F3;
    color: #03A9F3;
    border-radius: 3px;
    transform: scale(0.8, 0.8);
    display: inline-block;
    font-size: 0.5rem;
    line-height: 0.5rem;
    padding: 2px;

}

.panel p {
    font-size: 0.521rem;
    color: #666;
    text-align: center;
    line-height: 1.5;
    /*margin-bottom: 0.5rem;*/
}

.panel p.gree {
    color: #5EB319;
}

.btn_order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.1739rem;
    margin-top: 0.3rem;
}

.btn_order.mar {
    margin-top: 1rem;
}

.btn_order a {
    display: block;
    height: 1.1739rem;
    line-height: 1.1739rem;
    font-size: 0.521rem;
    color: #333333;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 0.434rem;
    margin: 0 0.5rem;
}

.btn_order a.red_btn {
    color: #fff;
    background: #FF3D3D;
    border: 1px solid #FF3D3D;
    padding: 0 0.868rem;
}

.btn_order a.gre_btn {
    color: #5EB319;
    border: 1px solid #5EB319;
}

.shop_state {
    width: 94%;
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
    align-items: center;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
    height: 2.608rem;
}

.shop_state > span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF1414;
    color: #fff;
    border-radius: 2px;
    font-size: 0.5rem;
    width: 2.3rem;
    height: 0.65rem;
    margin-right: 2.3rem;
}

.shop_state > span em {
    display: inline-block;
    transform: scale(0.8, 0.8);
}

.shop_state p {
    color: #333;
    font-size: 0.521rem;
}

.shop_state p span {
    color: #666;
}

.dadauser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    justify-content: space-between !important;
}

.flex > p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF9501;
    font-size: 0.521rem;
    margin-right: 0.695rem;
}

.flex > p img {
    height: 0.608rem;
    margin-right: 6px;
}

.dadauser img {
    width: 1.739rem;
    height: 1.739rem;
    border-radius: 50%;
    margin-right: 0.651rem;
}

.dadauser p span {
    display: block;
}

.dada {
    border: 1px solid #03A9F3;
    color: #03A9F3 !important;
    border-radius: 3px;
    transform: scale(0.8, 0.8);
    display: inline-block;
    font-size: 0.5rem;
    line-height: 0.5rem;
    padding: 2px;
    position: relative;
    left: -0.2rem;
}

.store_send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.6rem;
    padding: 0 1.13rem 0 0.82rem;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.store_send .s_left {
    display: flex;
    align-items: center;
}

.store_send .s_left .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.739rem;
    height: 1.739rem;
    margin-right: 0.35rem;
    overflow: hidden;
}

.s_left .img img {
    width: 100%;
}

.s_left .left_info {
    font-size: 0.695rem;
    color: #333;
}

.s_left .left_info p {
    line-height: 0.7rem;
}

.s_left .left_info span {
    display: inline-block;
    height: 0.61rem;
    line-height: 0.61rem;
    padding: 0 0.173rem;
    color: #666;
    font-size: 0.434rem;
    border: 1px solid #e2e2e2;
}

.store_send .call {
    display: flex;
    align-items: center;
    font-size: 0.521rem;
    color: #FF9501;
    cursor: pointer;
}

.all_call {
    cursor: pointer;
}

.store_send .call img {
    height: 0.608rem;
    margin-right: 6px;
}

.express_type {
    margin-bottom: 1rem;
}

.amap-marker-label {
    background-color: transparent !important;
    border: none !important;
}

.addr_info {
    position: relative;
    height: 1.22rem;
    line-height: 1.22rem;
    padding: 0 0.434rem;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 0.565rem;
    border-radius: 0.173rem;
}

.addr_info::after {
    position: absolute;
    bottom: -0.61rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-width: 0.61rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, .6) transparent transparent transparent;
}

#order_container {
    width: 100%;
    height: 12.34rem;
    z-index: 9;
    margin-top: 1.95rem;
    box-sizing: border-box;
}

.taitou.hasmap {
    position: absolute;
    top: 7.8rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    z-index: 999;
}

.taitou.hasmap .bgcolor {
    display: none;
}