.header-inp{
    width: 85%;
    margin: 0 0.5rem 0 1.8rem!important;
    border: 1px solid #dadada;
    overflow: hidden;
}
body{
    background: #fff;
}
.header-inp .search-input{
    width: 12.4rem!important;
}
.header-l a i.back{
    width: 80%;
    height: 80%;
    margin: 10%;
    background-image: url(../images/arrow_left_b.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 67%;
    opacity: 1;
}
.map{
    padding-top:2.2rem;
    height:7.391rem;
    overflow: hidden;
    background: #fff;
}
.mapList ul li{
    border-bottom:1px solid #dadada;
    height: 2.82rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #333;
    font-size: 0.608rem;
}
.mapList ul li p{
    display: flex;
    align-items: center;
}
.mapList ul li p img{
    margin:0 0.652rem;
    height: 0.608rem;
}
.mapList ul li p span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    color: #fff;
    background:#5EB318;
    padding: 3px;
    border-radius:2px;
    margin-left: 0.3rem;
    height: 0.5rem;
    transform: scale(0.8,0.8);
}
.mapList ul li em{
    color: #999;
    font-size: 0.521rem;
    padding-left:1.739rem;
}
.selsit{
    background: #fbfbfb;
}
/*----------------------定位失败----------------*/
.dinweisB{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.608rem;
    color: #333;
    flex-direction: column;
}
.dinweisB img{
    padding:2.6rem 0 2rem 0;
    height:1.3rem;
}

