body {
  background: repeating-linear-gradient(#FF022D 1%,#FF0E64 1%);
}
#header_user .header-wrap {
  background: repeating-linear-gradient(#FF022D 1%,#FF0E64 1%);
  height: 1.95rem;
}
#header_user .header-wrap {
  background: repeating-linear-gradient(#FF022D 1%,#FF0E64 1%);
}
#header_user .header-wrap h1 {
  color: #fff;
}
header img{
  width: 0.34782609rem;
  height: 0.65217391rem;
}
.header-l a{
  text-align: center;
  margin-top: 0.2rem;
}
.nav_container{
  position: fixed;
  top: 1.93rem;
  left: 0;
  right: 0;
  height: 1.73rem;
  color: #fff;
  background-color: #FF0E64;
  font-size: 0.521rem;
  z-index: 9;
}
.nav_container ul{
  display: flex;
  align-items: center;
}
.nav_container ul li{
  width: 16.7vw;
  text-align: center;
  line-height: 1.73rem;
}
.nav_container li a{
  display: inline-block;
  color: #ddd;
}
.nav_container li.on a{
  position: relative;
  font-size: .58rem;
}
.nav_container li.on a::after{
  position: absolute;
  content: '';
  bottom: 3px;
  left: -2px;
  right: -2px;
  height: 2px;
  background-color: #fff;
}
.main {
  padding: 3.98rem 0 0;
}
.main2 {
  padding: 0 0.43478261rem 0;
}
.main2 .swiper {
  width: 100%;
  height: 6.30434783rem;
  background-color: #fff;
}
.main2 .goods_list{
  position: relative;
  /*min-height: calc(100vh - 15rem);*/
}
.main2 .goods_list .goods_item {
  margin-top: 0.43478261rem;
  background-color: #fff;
  border-radius: 0.08695652rem;
  padding: 0.43478261rem;
}
.goods_item {
  display: flex;
  align-items: center;
}
.goods_item a{
  display: block;
}
.goods_item .g_left {
  flex: 0 0 4.34782609rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.34782609rem;
  height: 4.34782609rem;
  overflow: hidden;
}
.goods_item .g_left img {
  max-width: 100%;
  max-height: 100%;
}
.goods_item .g_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 4.34782609rem;
  min-width: 10rem;
  padding-left: 0.6rem;
}
.goods_item .g_right .name {
  color: #000;
  font-size: 0.60869565rem;
}
.goods_item .g_right .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price .p_left p {
  line-height: 1;
}
.price .p_left p:nth-child(1) {
  color: #FE011D;
  font-size: 0.56521739rem;
  padding-bottom: 0.2173913rem;
}
.price .p_left p:nth-child(2) {
  color: #999;
  font-size: 0.43478261rem;
}
.price .p_left p:nth-child(2) span {
  text-decoration: line-through;
}
.price .p_right a {
  line-height: 1.13043478rem;
  padding: 0 0.52173913rem;
  border-radius: 0.56521739rem;
  background: -webkit-gradient(linear, 25% 100%, 75% 100%, from(#F9132E), to(#FF833F));
  font-size: 0.52173913rem;
  color: #fff;
}
.err{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.err .img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.4rem;
  background-color: #ddd;
  margin-bottom: 0.3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.err .img img {
  width: 2.2rem;
  height: 2.2rem;
}

.err p:nth-child(2) {
  font-size: 0.75rem;
  color: #fff;
}
.err p:nth-child(3) {
  font-size: 0.55rem;
  color: #ddd;
}

.sld-no-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5vh;
    color: #999999;
    font-size: 0.65rem;
}

.sld-no-data .sld-no-data-pic{
    width: 4rem;
    height: 4rem;
}

.sld-no-data .sld-no-data-pic img{
    width: 100%;
    height: 100%;
}

.sld-no-data .sld-no-data-tips{
    line-height: 1;
    padding-top: 0.91rem;
}